.add-list {

    &-colors {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-top: -5px;
        margin-bottom: 15px;

        .badge {
            width: 16px;
            height: 16px;
            cursor: pointer;
            border: 1px solid transparent;
            margin-right: 5px;
            margin-top: 5px;

            &.active {
                border: 1px solid #525252;
            }
        }
    }
}
